<html>
<title>{{ issue.name }} Petitions</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class='topnav'>
  <a href="{{ url_for('index')}}">Home</a>
  <a href="{{ url_for('all_issues')}}">Petitions by Issue</a>
</div>
<div class = 'content'>
  <h1>{{ issue.name }} Petitions</h1>
  <h3>Petitions You Can Sign Now</h3>
  {% if not open_petitions %}
  There are no signable {{ issue.name }} petitions.
  {% else %}
  {{ open_petitions_table }}
  {% endif %}

  <h3>Closed Petitions</h3>
  {% if not closed_petitions %}
  There are no closed {{ issue.name }} petitions.
  {% else %}
  {{ closed_petitions_table }}
  {% endif %}
</div>

<div class='footer'>
  This app was made by <a href='https://mfldavidson.weebly.com/' target=_blank>Maggie Davidson</a> and uses the <a href="https://petitions.whitehouse.gov/" target=_blank>We the People</a> API, but is neither endorsed nor certified by the White House.
</div>
</html>
